* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  outline-style: none;
  -webkit-tap-highlight-color: transparent;
  word-break: break-all;
}
html {
  width: 100%;
  font-size: 20px;
  font-size: 10vw;
  height: 100%;
  overflow: hidden;
}
body {
  position: relative;
  width: 10rem;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  font-family: Arial;
  font-weight: 400;
  background: #1a162d;
  overflow: hidden;
}
a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #333;
}
img {
  width: 100%;
}
.pic {
  display: none;
  height: 1333px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
}
.pic-cont {
  padding-top: 2.346rem;
  padding-left: 0.3866rem;
}
.pic-back {
  position: absolute;
  top:13.733rem;
  width: 100%;
  text-align: center;
}
.pic-back img{
  width: 1.92rem;
  height: auto;
}
.pic5 {
  padding-left: 0.96rem;
  padding-top: 3.46rem;
}
.pic6 {
  padding-left: 0.99rem;
  padding-top: 2.37rem;
}
.pic5 div,.pic6 div{
  display: inline-block;
}
.pic5 p,.pic6 p {
  width: 3.6266rem;
  height: 2.48rem;
}
.pic5 img,.pic6 img{
  width: 3.6266rem;
  height: auto;
  border-radius: 0.28rem;
}
.pic5-right {
  margin-left: 0.51rem;
}
.pic5-bottom {
  margin-top: 1.28rem;
}
.pic6-bottom {
  margin-top: 0.88rem;

}
/* .zoomify img{
  width: 100%;
} */
.zoomify{cursor:pointer;cursor:-webkit-zoom-in;cursor:zoom-in}
.zoomify.zoomed{cursor:-webkit-zoom-out;cursor:zoom-out;padding:0;margin:0;border:none;border-radius:0;box-shadow:none;position:relative;z-index:1501 !important;}
.zoomify-shadow{position:fixed;top:0;left:0;right:0;bottom:0;width:100%;height:100%;display:block;z-index:1500;background:rgba(0,0,0 ,.3);opacity:0}
.zoomify-shadow.zoomed{opacity:1;cursor:pointer;cursor:-webkit-zoom-out;cursor:zoom-out}

.musicIcon {
  -webkit-animation: music 5s linear infinite;
  animation: music 5s linear infinite;
  display: block;
  width: 0.666rem;
  height: 0.666rem;
  position: absolute;
  top: 0.466rem;
  right: 0.466rem;
  z-index: 999;
}
#music {
  width:0;
  height:0;
  position: absolute;
  top:0;
  left:0;
  display:none;
}

@-webkit-keyframes lights {
  0%,
  100% {
    top: -38px;
    left: -54px;
  }
  25% {
    top: 766px;
    left: -54px;
  }
  50% {
    top: 766px;
    left: 672px;
  }
  75% {
    top: -38px;
    left: 672px;
  }
}
@keyframes lights {
  0%,
  100% {
    top: -38px;
    left: -54px;
  }
  25% {
    top: 766px;
    left: -54px;
  }
  50% {
    top: 766px;
    left: 672px;
  }
  75% {
    top: -38px;
    left: 672px;
  }
}
@keyframes heads {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  60% {
    transform: translate(8px, 8px) scale(1.1);
  }
}
@-webkit-keyframes heads {
  0%,
  100% {
    -webkit-transform: translate(0, 0) scale(1);
  }
  60% {
    -webkit-transform: translate(8px, 8px) scale(1.1);
  }
}
@-webkit-keyframes music {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes music {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes cloudtwo {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-2000px);
  }
}
@keyframes cloudtwo {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2000px);
  }
}
@-webkit-keyframes cloudone {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1400px);
  }
}
@keyframes cloudone {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1400px);
  }
}
@-webkit-keyframes cloud {
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-100%);
  }
  50.001% {
    -webkit-transform: translateX(828px);
  }
}
@keyframes cloud {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.001% {
    transform: translateX(828px);
  }
}
.submit {
  height: 1.14rem;
  margin-top: 14.53rem;
  text-align: center;
}
.submit img{
  width: 2.96rem;
  height: auto;
}
.pic3{
  width: 100%;
  height: 100%;
  padding-top: 2.8rem;
  padding-left: .5rem;
}
.pic3 img{
  width: 4.4rem;
  height: auto;
}

.center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.logo img {
  width: 2.8rem;
  height: auto;
  position: absolute;
  left: 0.466rem;
  top: 0.466rem;
  z-index: 999;
}
.arrow {
  display: block;
  width: 0.66666667rem;
  height: 0.37333333rem;
  position: absolute;
  left: 0rem;
  right: 0rem;
  bottom: 0.77333333rem;
  margin: auto;
  -webkit-animation: arrowfun 2s linear infinite;
  animation: arrowfun 2s linear infinite;
}
.section-contain {
  width: 100%;
  height: 100%!important;
  position: absolute;
  top: 0rem;
  left: 0rem;
  bottom: 0rem;
  right: 0rem;
  margin: auto;
  -webkit-transform: translateY(0.05rem);
  transform: translateY(0.05rem);
}
.section-contain .contain-tit {
  width: 8.42666667rem;
  height: 1.49333333rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: 0rem;
  margin: auto;
  z-index: 3;
}
.section-contain .contain-kv {
  position: absolute;
  left: 0rem;
  right: 0rem;
  margin: auto;
  z-index: 2;
}
.section-contain .contain-three {
  width: 2.4rem;
  height: 1.44rem;
  position: absolute;
  left: 0rem;
  right: 0rem;
  margin: auto;
}
.section-contain .contain-text {
  position: absolute;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;
  margin: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding-bottom: 0.26666667rem;
  padding-right: 0.16rem;
}
.section-contain .contain-text p {
  font-size: 0.45333333rem;
  color: #111111;
  font-weight: 700;
  line-height: 0.66666667rem;
  text-align: center;
  text-shadow: -0.04rem 0.04rem 0.001rem rgba(237, 203, 76, 0.6);
}
@-webkit-keyframes arrowfun {
  0%,
  100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(0.5rem);
  }
}
@keyframes arrowfun {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.5rem);
  }
}

.form {
  width: 4.04rem;
  height: 7.24rem;
  position: absolute;
  top: 5.14666667rem;
  right: 1.94666667rem;
}
.form input {
  display: block;
  width: 100%;
  height: 0.8rem;
  border: none;
  margin-bottom: 0.26666667rem;
  padding: 0.13333333rem;
  color: #01d7df;
  font-size: 0.4rem;
}